<div class="row" *ngIf="categories.length > 0">
  <div class="col-sm-4" *ngFor="let category of categories; index as i">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/category/{{category.id}}" class="card-link">{{category.title}}</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{category.subtitle}}</h6>
        <p class="card-text">{{category.description}}</p>
      </div>
    </div>
    <div class="clearfix" *ngIf="i % 3 == 0">
      <br>
    </div>
  </div>
</div>